
<section> 
<h2> Concerts today! </h2>

<%= render 'show_concerts' %>

</section>
<section>
  <h2> Concerts this month! </h2>
  <ul>
    <% @concerts_this_month.each do |concert| %>
      <li><%= link_to(concert.band, concert_path(concert.id)) %>
      <%= concert.description %> </li>
    <% end %>
  </ul>
</section>